@model _181701c_task_3.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Продукт</h1>
    <div class="row">
        <div>
            <h5>Идентификатор</h5>
            <p>@Html.DisplayFor(product => product.Id)</p>
        </div>
        <div>
            <h5>Название</h5>
            <p>@Html.DisplayFor(product => product.Name)</p>
        </div>
        <div>
            <h5>Стоимость</h5>
            <p>@Html.DisplayFor(product => product.Price)</p>
        </div>
        <div>
            <h5>Описание</h5>
            <p>@Html.DisplayFor(product => product.Description)</p>
        </div>
    </div>
    <a asp-action="List">Вернутся к списку продуктов</a>
</div>
